.container {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    background-color: #000;
    flex-direction: column;
    
}

.inps {
    display: flex;
    margin-top: 7%;
    flex-direction: column;

}

.input {
    width: 300px;
    height: 40px;
    margin: 5px;
}

.texto {
    color: aliceblue;
    font-size:xx-large;
    padding-top: 8%;
    margin-left: 20%;
}

.inpbtn {
    flex-direction: column;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border-color: transparent;
}

.btn{
    margin-left: 35%;
    margin-top: 10px;
}

a{
    color: aliceblue;
}